@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Qwitcher+Grypen&display=swap');

@layer base {
  body {
    @apply font-[Raleway];
  }
  li {
    @apply px-4;
    @apply cursor-pointer;
  }
}

.logo {
  font-family: 'Qwitcher Grypen', cursive;
}

.content-div {
  background-repeat: no-repeat;
  background-size: cover;
  /* background-origin: border-box;  */
  background-position: center;
  height: 250px;
  /* transition: background-image 300ms ease-in-out; */
  z-index: 0px;
}

.content-div:hover {
  background-image: linear-gradient( to right,
    rgba(198, 76, 96, 0.2),
    rgba(240, 34, 82, 0.2)
  ) !important;
}

.nav {
  z-index: 1000px;
}

div > .details {
  display: none;
  transition: display 2s ease-in-out !important;
}

div:hover > .details {
  display: block;
}

#head {
  animation: head 5s ease-in-out infinite;
}

#body {
  animation: body 5s ease-in-out infinite;
}

#smoke {
  animation: smoke 8s ease-in-out infinite;
}

@keyframes head {
  0%{
    transform: translateX(-10px) rotate(-20deg);
    transform-origin: center;
    transform-box: fill-box;
  }
  50% {
    transform: translateX(20px) rotate(20deg);
    transform-origin: center;
    transform-box: fill-box;
  }
  100% {
    transform: translateX(-10px) rotate(-20deg);
    transform-origin: center;
    transform-box: fill-box;
  }
}



@keyframes body {
  0% {
    transform: translateY(0px);
  }

  50%{
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes smoke {
  0% {
    transform: translateY(5px);
    transform-origin: center;
    transform-box: fill-box;
    opacity: 0;
  }

  50% {
    transform: translateY(-20px) rotateZ(5deg);
    transform-origin: center;
    transform-box: fill-box;
    opacity: 1;
  }

  100% {
    transform: translateY(-30px) rotateZ(10deg);
    transform-origin: center;
    transform-box: fill-box;
    opacity: 0;
  }
}